body {
    background-image: url(/images/blend.jpg);
    background-color:  dimgray;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 900px;
    height: 120px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;

}

.sp1 {

    font-size: 5em;
    color: darkgray;
    text-shadow: 2px 2px 6px #000000;
    margin-left: 1em;
    margin-right:1em;
    margin-top: 1.2em;

}

#main {

    width: 1000px;
    height: 520px;
    background-color: dimgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#link {
    position: relative;
    top: 2.5em;
    width: 360px;
    height: 20px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: whitesmoke;

}

#main svg {
    margin-left: 4.5em;
    margin-right: 4.5em;
    margin-top: 2em;
}

#content {
    position: relative;
    top: 2em;
    background-color: #c0c0c0;
    width: 860px;
    height: 450px;
    margin-left: 4.5em;
    margin-right: 4.5em;

}

.ct {
    font-size: 30px;
    position: relative;
    top: 1em;
    margin-left: 2em;
}

.n {
    position: relative;
    top: 0.5em;
    margin-left: 4em;
}

.def {
    position: relative;
    margin-left: 4em;
    font-style: italic;
}

p {
    position: relative;
    margin-left: 4em;
}


/*#dataHidden{
    width: 700px;
    height:190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    background-color: dimgray;
}

#dataVisible{
    width: 1200px;
    height:250px;
    margin-left: auto;
    margin-right: auto;

    background-color: dimgray;
}

#dh2Hidden {
    width: 1180px;
    height: 230px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #c0c0c0;
    display: none;
}

#dh2Visible {
    width: 1180px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    background-color: #c0c0c0;

}

#clseHidden {
    width: 30px;
    height: 30px;
    margin: 1px;
    float: right;
    background-color: dimgray;
    display: none;
}

#closeHidden rect {
    position: inherit;
}

#clseVisible {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 1px;
    float: right;
    background-color: dimgray;

}

#clseVisible:hover {
    background-color: red;
}*/  /*still working on*/
